.contact {
  margin-top: 100px;
  height: 400px;
  position: relative;

  .map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: all;
  }

  .container2 {
    height: 400px;
    display: flex;
    align-items: center;
    pointer-events: none;
    position: relative;

    .content {
      background: #fff;
      padding: 40px 60px;

      display: flex;
      gap: 87px;
      align-items: center;
      pointer-events: all;

      .info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}
