.logo {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: 250px;

  img {
    cursor: pointer;
  }

  h2 {
    cursor: pointer;
  }

  b {
    font-weight: 600;
  }

  @media (min-width: 600px) {
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }
}
