@import "/src/app/styles/variables";

.title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.search {
  display: flex;
  gap: 1rem;
  align-items: center;

  .icon {
    font-size: 25px;
    opacity: 0.2;

    &.active {
      color: $status_error;
      opacity: 1;
    }

    cursor: pointer;

    @media (min-width: 600px) {
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
